<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "お風呂クエスト" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <!-- min-h-screenがfooter動かんようにしてくれる -->
  <body class="min-h-screen flex flex-col">
    <%= render "shared/header" %>

    <main class="flex-1">
      <!-- 横幅上限・左右中央寄せ・画面端ギリギリ防止（余白） -->
      <div class="max-w-md mx-auto px-4">
        <%= yield %>
      </div>
    </main>

    <%= render "shared/footer" %>
  </body>
</html>
